    /* font-family: 'Rubik', sans-serif; */

    body {
        font-family: 'Rubik', sans-serif;
        margin: auto;
    }

    .header {
        width: 100vw;
        position: fixed;
        background-color: #FFFFFF;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 0;
        align-items: center;
        max-width: 600px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        width: 155px;
        padding: 0;
    }

    .menu-content {
        color: #4a4a4a;
        text-decoration: none;
        height: 40px;
    }

    .menu-content:hover {
        color:black;
    }

    .logo {
        margin: 10px auto;
        width: 155px;
    }

    .main {
        background-color: #3CDBC0;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-bottom: 13px; 
        padding-top: 100px;
        min-height: 600px;
    }

    .main-content {
        margin: auto;
        max-width: 200px;
        font-weight: bold;
    }

    .content {
        font-size: 30px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
    }

    @media all and (min-width: 768px) {
        .content {
            font-size: 40px;
        }

        .header-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 20px auto;
            margin-bottom: 0;
        }

        .menu {
            margin-right: 30px;
        }

        .logo {
            margin-left: 30px;
        }   
    }